@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

*:not(#editor):not(#editor *) {
  @apply font-primary;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* tree styles */
.node__root > circle {
  fill: #45B26B;
  stroke: #45B26B;
}

.node__root_error > circle {
  fill: #F12120;
  stroke: #F12120;
}

.rd3t-node.node__branch > circle {
  fill: #45B26B;
  stroke: #45B26B;
}

.rd3t-leaf-node.node__branch > circle {
  stroke: #9B9B9B;
}

.node__leaf > circle {
  stroke: #9B9B9B;
}

.rd3t-link {
  stroke: #9B9B9B !important;
}

.rd3t-label__title {
  fill: #9B9B9B !important;
}

.ace-marker {
  position: absolute;
  background-color: #ff6361;
}

/* .ace_editor {
  background-color: rgba(18, 18, 18, 0.2);
} */